// Styles for background-cover-directive.

img.background-cover-directive,
.background-cover-directive img,
video.video-cover-directive {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  &.fill-height-directive {
    height: 100%;
    width: auto;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}

