// Styles for background-cover-directive.

img.background-cover-directive,
.background-cover-directive img {
  display: block;
  max-width: 100%;

  &.fill-height-directive {
    max-height: 100%;
    max-width: none;
  }
}

