// Styles for fit-to-window-directive.

img.fit-to-window-directive,
video.fit-to-window-directive {
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;

  &.fit-to-window-width-directive {
    width: 100%;
    left: 0;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
  }
}

div.fit-to-window-directive {
  height: 100%;
  width: 100%;
  position: absolute;

  img {
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }

  &.fit-to-window-width-directive {
    img {
      width: 100%;
      left: 0;
      height: auto;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

