@import 'variables';
@import 'nav';

body, html {
  margin: 0px;
  padding: 0px;
  font-family: $base-font;
  font-weight: normal;
  font-style: normal;
}

.content {
  padding-top: $nav-height;
  height: 100%;
  width: 100%;
  background-color: #2E2828;
}

.shot-background {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.shot-video {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.slides {
  position: absolute;
  top: $nav-height;
  color: white;
  z-index: 2;
}

.annotation-author {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.annotation-content {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 30px;
}

/* kyle stuff */
html, body, body > div {
  width: 100%;
  height: 100%;
}
.annotation {
  background: transparent;

  .header {
    background: black;
    color: white;
  }

  &.pin {
    position: fixed;
    top: 0;
    left: 0;
  }
}
