@import 'variables';

.nav-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.nav-menu-controls {
  margin: 4px 58px 0;
  border-bottom: 1px solid white;
}
  .nav-menu-tabs {
    padding-bottom: 14px;
  }
    .nav-menu-tab {
      display: inline-block;
      margin-right: 34px;
      font-family: $base-font-medium;
      font-size: 22px;
      color: rgb(155, 151, 147);
      transition: 0.1s color;
      cursor: pointer;
      text-transform: capitalize;

      &:hover, &.on {
        color: white;
      }
      &.on {
        cursor: default;
      }
    }

$shot-thumb-height: 235px;
$shot-thumb-width: 400px;
.nav-menu-shots {
  left: 43px;
  right: 43px;
  line-height: 0;
  font-size: 0;
}
  .nav-menu-shot {
    position: relative;
    display: inline-block;
    margin: 20px 15px;
    width: $shot-thumb-width;
    height: $shot-thumb-height;
    background: black;
    line-height: 1;
    font-size: 32px;
    font-family: $base-font-medium;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: rgba(255, 255, 255, 0.1);
      transition: opacity 0.2s;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }
    .nav-menu-shot-number {
      $height: 85px;
      $width: 100px;
      position: absolute;
      top: round(($shot-thumb-height - $height) / 2);
      left: round(($shot-thumb-width - $width) / 2);
      width: $width;
      height: $height;
      background-image: url(../images/Shot_by_Shot_Icon.svg);
      background-size: 100%;
      line-height: $height + 4px; /* a little nudge */
      text-align: center;
      color: white;
    }

.nav-menu-tags {
  word-wrap: break-word;
  right: 58px;
  left: 58px;
}
  .nav-menu-tag {
    margin-right: 70px;
    font-size: 92px;
    font-family: $base-font-medium;
    cursor: pointer;
    transition: color 0.2s, text-decoration 0.2s;

    &:hover {
      color: $nav-highlight-color;
      text-decoration: underline;
    }
  }

.nav-menu-shots, .nav-menu-tags {
  position: absolute;
  top: 45px;
  bottom: 45px;
  overflow-y: scroll;
}

.nav-menu-scrollable {
  padding: 20px 0px;
}
