@import 'variables';

.top-nav {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: $nav-height;
  color: #FFF;
  z-index: 3;
}

.top-nav-menu {
  position: absolute;
  left: 30px;
  top: 10px;
  height: 40px;
  width: 50px;
  background-image: url(../images/Menu_Icon.svg);
  background-color: rgba(255, 255, 255, 0);
  background-size: 50px;
  font-size: 20px;
  padding: 5px;
  border: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    color: #FFF;
  }
}

.top-nav-current-slide {
  position: absolute;
  left: 50%;
  width: 200px;
  height: 100%;
  margin-left: -100px;
  font-size: 20px;
  line-height: $nav-height;
  overflow: hidden;
}
  .top-nav-author {
    position: absolute;
    transition: transform 1s, opacity 1s;
    text-transform: capitalize;
    width: 100%;
    text-align: center;

    &.up {
      transform: translate3d(0, -$nav-height, 0);
      opacity: 0;
    }
    &.down {
      transform: translate3d(0, $nav-height, 0);
      opacity: 0;
    }
  }

.top-nav-shot {
  position: absolute;
  right: 30px;
  top: 5px;
  text-decoration: none;
  text-align: center;
}

@mixin top-nav-shot-arrow() {
  display: block;
  text-decoration: none;
  display: block;
  text-decoration: none;
  height: 15px;
  width: 48px;
  background-size: 40px;
  cursor: pointer;
  background-position-x: 4px;
}

.top-nav-shot-up {
  background-image: url(../images/Next_Shot.svg);
  @include top-nav-shot-arrow();
}
.top-nav-shot-down {
  background-image: url(../images/Prev_Shot.svg);
  @include top-nav-shot-arrow();
}

.top-nav-shot-current {
  padding: 31% 3px 0px 5px;
  height: 28px;
  width: 40px;
  background-image: url(../images/Shot_by_Shot_Icon.svg);
  background-size: 50px;
  font-size: 11px;
}


.side-nav {
  position: fixed;
  right: 50px;
  top: 40%;
  z-index: 3;
}

.side-nav-circles {
  padding: 0px;
}

.side-nav-circle {
  height: 10px;
  width: 10px;
  list-style: none;
  background-color: #D8D8D8;
  margin: 15px;
  border-radius: 10px;
  cursor: pointer;

  &.highlighted {
    background-color: white;
  }

  &:hover {
    background-color: white;
    cursor: default;
  }
}

