@import 'variables';

.slide {
  position: relative;
  height: 100%;
  text-align: center;
}

.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.slide-photo {
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.slide-outer-author {
  height: 300%;
}

.slide-author {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;

  img {
    position: fixed;
    max-width: 50%;
    max-height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
    transition: all 1s;
  }

  &.pin img {
    top: 20px + $nav-height;
    left: 50px;
    transform: scale(0.2) translate(0, 0);
  }

  &.show {
    display: block;
  }
}

.slide-intro {
  font-size: 30px;
  padding-top: 70px;
  font-family: $base-font-medium;
}

.slide-background {
  width: 100%;

  img {
    max-height: none;
  }
}

.slide-shot-number {
  padding: 40px 0px 0px 0px;
  height: 78px;
  width: 140px;
  background-image: url(../images/Shot_by_Shot_Icon.svg);
  text-align: center;
  display: inline-block;
}
