<nav class="top-nav">
    <button class="top-nav-menu">|||</button>
    <div class="top-nav-current-slide">
        <!-- TODO(dbow): ng-repeat for each slide with nav= and show current slide's nav -->
        <div class="top-nav-author down" ng-repeat="annotation in shot.annotations">{{ annotation.author.name }}</div>
    </div>
    <div class="top-nav-shot">
        <a ui-sref="shot({ shot: shot.next })" class="top-nav-shot-up">^</a>
        <div class="top-nav-shot-current">{{ shot.id | shot }}</div>
        <a ui-sref="shot({ shot: shot.previous })" class="top-nav-shot-down">^</a>
    </div>
</nav>

<nav class="side-nav">
    <!-- TODO(dbow): ng-repeat for each slide with nav= -->
    <ul class="side-nav-circles">
        <li class="side-nav-circle"></li>
        <li class="side-nav-circle"></li>
        <li class="side-nav-circle"></li>
        <li class="side-nav-circle highlighted"></li>
        <li class="side-nav-circle"></li>
        <li class="side-nav-circle"></li>
    </ul>
</nav>

