<nav class="top-nav" ng-class="{menu: menuIsOn}">
    <button class="top-nav-menu-button" ng-click="menuIsOn = toggleMenu()"></button>
    <div class="top-nav-current-slide">
        <div class="top-nav-author down" ng-repeat="slide in shot.slides | filter:isHeaderSlide">
          {{ slide.nav || slide.annotation.author.name }}
        </div>
    </div>
    <div class="top-nav-shot">
        <a ui-sref="shot({ shot: shot.previous })" class="top-nav-shot-down"></a>
        <div class="top-nav-shot-current">{{ shot.id | shot }}</div>
        <a ui-sref="shot({ shot: shot.next })" class="top-nav-shot-up"></a>
    </div>

    <div class="nav-menu">
      <div class="nav-menu-controls">
        <div class="nav-menu-tabs">
          <a class="nav-menu-tab on">Shots</a>
          <a class="nav-menu-tab">Tags</a>
          <a class="nav-menu-tab">Authors</a>
        </div>
      </div>

      <div class="nav-menu-shots">
        <a class="nav-menu-shot" ng-repeat="shot in shot.thumbs" ui-sref="shot({ shot: shot.id })" ng-style="{'background-image': 'url(' + thumbnailForShot(shot) + ')'}">
          <div class="nav-menu-shot-number">{{ shot.id }}</div>
        </a>
      </div>
    </div>
</nav>

<nav class="side-nav">
    <ul class="side-nav-circles">
      <li class="side-nav-circle" ng-repeat="slide in shot.slides | filter:isNavSlide" ng-click="scrollToSlide(slide)">
        <div class="side-nav-tag">{{ slide.nav || slide.annotation.author.name }}</div>
      </li>
    </ul>
</nav>

