<div class="container">
    <div ng-class="{'cinema': shot.playing}" ng-include="'partials/nav.html'"></div>

    <div class="content">

        <div class="shot-background"></div>

        <video class="shot-video-directive" autoplay loop muted>
            <source ng-src="{{ shot.videoUrl }}" type="video/mp4">
            Your browser does not support the <code>video</code> element.
        </video>

        <div class="slides">
            <slide-manager slides="shot.slides"></slide-manager>
        </div>
    </div>
</div>
