<div class="slide slide-outer-{{slide.type}}">

  <!-- INTRO -->
  <div ng-if="slide.type === 'introduction'" class="slide-intro slide-inner">
    <div class="slide-center">
      <h3>Los Sures - Shot by Shot</h3>
      <div class="slide-shot-number">{{ slide.shot | shot }}</div>
    </div>
    <div class="slide-scroll-indicator"></div>
  </div>

  <!-- OUTRO -->
  <div ng-if="slide.type === 'outro'" class="slide-outro slide-inner">
    <div class="slide-center">
      <h3>End</h3>
      <div class="slide-shot-number">{{ slide.shot | shot }}</div>
      <div class="slide-outro-actions">
        <a class="slide-outro-action" ng-show="slide.next" ui-sref="shot({shot: slide.next})">Continue</a>
      </div>
    </div>
  </div>

  <!-- AUTHOR -->
  <div ng-if="slide.type === 'author'" class="slide-author slide-inner">
    <img ng-src="{{ slide.annotation.author.image }}" />
  </div>

  <!-- TEXT -->
  <div ng-if="slide.type === 'text'" class="slide-text slide-inner">
    <div class="slide-text-container" ng-bind-html="slide.content"></div>
  </div>

  <!-- BACKGROUND -->
  <div ng-if="slide.type === 'background'" class="slide-background slide-inner">
    <img ng-if="slide.attributes.background" ng-src="{{ slide.attributes.background }}" class="background-cover-directive" />
    <div ng-if="!slide.attributes.background" ng-bind-html="slide.content" class="background-cover-directive"></div>
    <div class="meta-text" ng-if="slide.attributes.caption">
      <div class="meta-caption">{{ slide.attributes.caption }}</div>
    </div>
  </div>

  <!-- PHOTO -->
  <div ng-if="slide.type === 'photo'" class="slide-photo slide-inner">
    <img ng-if="slide.attributes.photo" ng-src="{{ slide.attributes.photo }}" class="fit-to-window-directive" />
    <div ng-if="!slide.attributes.photo" ng-bind-html="slide.content" class="fit-to-window-directive"></div>
    <div class="meta-text" ng-if="slide.attributes.caption">
      <div class="meta-caption">{{ slide.attributes.caption }}</div>
    </div>
  </div>

  <!-- HIGHLIGHT -->
  <div ng-if="slide.type === 'highlight'" class="slide-highlight slide-inner">
    <div class="slide-highlight-spotlight"></div>
    <div class="meta-text" ng-if="slide.attributes.title || slide.attributes.caption">
      <div ng-if="slide.attributes.title">{{ slide.attributes.title }}</div>
      <div ng-if="slide.attributes.caption">{{ slide.attributes.caption }}</div>
    </div>
  </div>

  <!-- STREETVIEW -->
  <div ng-if="slide.type === 'streetview'" class="slide-streetview slide-inner">
      <street-view url="{{slide.annotation.streetView}}" title="{{slide.attributes.title}}" caption="{{slide.attributes.caption}}" start-frame="{{slide.annotation.timecodes.start}}"></street-view>
  </div>

  <!-- VIDEO -->
  <div video-container ng-if="slide.type === 'video'" class="slide-video slide-inner">
    <video class="fit-to-window-directive" ng-if="slide.attributes.video" controls>
    <source ng-repeat="video in slide.attributes.video" ng-src="{{ video }}" type="video/{{ video | mimetype }}">
      Your browser does not support the <code>video</code> element.
    </video>
    <div class="slide-video-content" ng-if="!slide.attributes.video" ng-bind-html="slide.content">
    </div>
    <div class="meta-text" ng-if="slide.attributes.caption">
      <div class="meta-caption">{{ slide.attributes.caption }}</div>
    </div>
  </div>

  <!-- BACKGROUND VIDEO -->
  <div video-container ng-if="slide.type === 'bg-video'" class="slide-bg-video slide-inner">
    <video class="video-cover-directive" ng-if="slide.attributes.video">
    <source ng-repeat="video in slide.attributes.video" ng-src="{{ video }}" type="video/{{ video | mimetype }}">
      Your browser does not support the <code>video</code> element.
    </video>
  </div>

  <!-- MAIN TITLE -->
  <div ng-if="slide.type === 'main-title'" class="slide-main-title slide-inner">
    <div class="slide-main-title-content">
      <div class="slide-main-title-title" ng-bind="slide.attributes.title"></div>
      <div class="slide-main-title-description" ng-bind="slide.attributes.description"></div>
      <div class="slide-main-title-subtitle" ng-bind="slide.attributes.subtitle"></div>
      <div class="slide-main-title-play" ng-if="slide.attributes.play">Play</div>
    </div>
  </div>

  <!-- MAIN CONTENT -->
  <div ng-if="slide.type === 'main-content'" class="slide-main-content slide-inner">
    <div class="slide-main-content-content" ng-bind="slide.attributes.content"></div>
  </div>

  <!-- MAIN SUBTITLE -->
  <div ng-if="slide.type === 'main-subtitle'" class="slide-main-subtitle slide-inner">
    <div class="slide-main-subtitle-content" ng-bind="slide.attributes.content"></div>
    <div class="slide-main-subtitle-play" ng-if="slide.attributes.play">Play</div>
  </div>
  <!-- TODO(dbow): Add audio support -->

</div>

